@{
    ViewBag.Title = "Home Page";
}



<h1>Vidly Dashboard</h1>
<h4>Welcome, @User.Identity.Name!</h4>



<div class="row">
    <div class="col-md-4">
        <h2>Rent out a Movie</h2>
        <p>
            Complete this form in order to rent out a movie for a customer with an account.
        </p>
        @Html.ActionLink("Rent a Movie \u00BB", "New", "Rentals", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-4">
        <h2>Add a Customer</h2>
        <p>
            A customer wants to rent a movie, but doesn't have an account yet? Problem solved! Simply use this form in order to add a new customer to the database.
        </p>
        @Html.ActionLink("Add a Customer \u00BB", "New", "Customers", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-4">
        <h2>Add a Movie</h2>
        <p>
            A new movie just came in stock? Great! Simply use this form to add it to the database, and customers can start renting it!
        </p>
        @Html.ActionLink("Add a Movie \u00BB", "New", "Movies", null, new { @class = "btn btn-primary" })
    </div>
</div>