<appSettings>
  <add key="FacebookAppId" value ="957276101863833"/>
  <add key="FacebookAppSecret" value ="89188a36a00a4ffa2cd651efc16e0865"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>